* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button > a {
  text-decoration: none;
}
#main-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login_main {
  display: flex;
  gap: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addStu_main {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.form-group {
  margin-top: 10px;
}

.container-fluid {
  padding: 0 !important;
}

.navbar a {
  color: white !important;
}
li.nav-item .btn {
  transition: border 0.5s;
}

li.nav-item {
  margin: 0px 10px;
}

li.nav-item .btn:hover {
  border: 1px solid red;
}

.navbar-brand {
  margin-left: 25px;
  transition: transform 1s;
}

.navbar-brand:hover {
  transform: rotate(360deg);
}

.form-group {
  text-align: left;
}

/* Background Animation Start */
.bg {
  animation: slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 11s;
}

.bg3 {
  animation-duration: 12s;
}

.content {
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
/* End */
